jellyfin:
  #service:
  #main:
  #  type: LoadBalancer
  image:
    # -- image repository
    repository: jellyfin/jellyfin
    # -- image tag
    tag: 10.7.7
    # -- image pull policy
    pullPolicy: IfNotPresent

  persistence:
    config:
      enabled: true
      accessMode: ReadWriteOnce
      size: 10Gi
      #persistentVolumeReclaimPolicy: Retain
    cache:
      enabled: true
      accessMode: ReadWriteOnce
      size: 10Gi
      mountPath: /cache
    media:
      enabled: true
      mountPath: /media
      accessMode: ReadWriteOnce
      size: 50Gi
    omvnfsmedia:
      enabled: true
      type: custom
      volumeSpec:
        nfs:
          server: 172.24.1.5
          path: /dati/media
      mountPath: /omvNfsMedia

    # omvnfsmedia:
    #   enabled: true
    #   type: custom
    #   volumeSpec:
    #     nfs:
    #       server: 172.24.1.6
    #       path: /dati/media
    #   mountPath: /omvNfsMedia
    #media:
    #enabled: true
    #mountPath: /media
  env:
    TZ: "Europe/Rome"
    #PUID: 1000
    #GUID: 1000

# runAsUser: 1000
# runAsGroup: 1000
# fsGroup: 1000
#   # Hardware acceleration using an Intel iGPU w/ QuickSync
#   # These IDs below should be matched to your `video` and `render` group on the host
#   # To obtain those IDs run the following grep statement on the host:
#   # $ cat /etc/group | grep "video\|render"
#   # video:x:44:
#   # render:x:109:
#   supplementalGroups:
#   - 44
#   - 109


  resources:
    requests:
      # Hardware acceleration using an Intel iGPU w/ QuickSync and
      # using intel-gpu-plugin (https://github.com/intel/intel-device-plugins-for-kubernetes)
      gpu.intel.com/i915: 1
      cpu: 200m
      memory: 256Mi

    limits:
      # Hardware acceleration using an Intel iGPU w/ QuickSync and
      # using intel-gpu-plugin (https://github.com/intel/intel-device-plugins-for-kubernetes)
      gpu.intel.com/i915: 1
      memory: 4096Mi
